#LR_4
# Ігнорувати файл text.txt.
text.txt
# Ігнорувати rar файли
*.rar
# Але саме answers.rar не ігнорувати
!answers.rar
# Ігнорувати rar файли в корені проекту
# Допустимо, що файл /temp/main.rar не буде проігнорований. він не докорінно
/*.rar
# Ігнорувати всі файли з папки land
/land/
# Ігнорувати css файли з папки land не включаючи підпапки
# Допустимо, що файл /land/temp/main.css не буде проігнорований. він у підпапці temp
/land/*.css
# Ігнорувати js файли з папки land та папок
/land/**.*.js